<h1><a href="{{ site.url }}" class="site-title-link">.𖥔 ݁ ˖   ✦    ‧₊˚ ⋅ Lai Yi Ohlsen </a></h1>
 <a href="{{ site.url }}/resume">Resume</a> ⟡
<a href="{{ site.url }}/teaching">Teaching</a> ⟡
<a href="{{ site.url }}/creative">Creative</a> ⟡
<a href="{{ site.url }}/writing">Writing</a> ⟡
<a href="{{ site.url }}/talks">Talks</a> ⟡
<a href="{{ site.url }}/contact">Contact</a>  
