<h1><a href="/" class="site-title-link">.𖥔 ݁ ˖   ✦    ‧₊˚ ⋅ Lai Yi Ohlsen </a></h1>
<nav>
 <a href="/resume" {% if page.url == "/resume/" %}class="active"{% endif %}>Resume</a> ⟡
<a href="/creative" {% if page.url == "/creative/" or layout == "project.njk" %}class="active"{% endif %}>Creative</a> ⟡
<a href="/writing" {% if page.url == "/writing/" %}class="active"{% endif %}>Writing</a> ⟡
<a href="/blog" {% if page.url == "/blog/" or layout == "post.njk" %}class="active"{% endif %}>Blog </a> ⟡
<a href="/contact" {% if page.url == "/contact/" %}class="active"{% endif %}>Contact</a> ⟡

</nav>  
