 {% for x in types -%}
    {% if type == x %}
    {% set matches = collections.project | include("data.type", x) %} 
        {% for x in matches %}
            {% if loop.last %}
                <a href =  {{ site.url}}/{{type}}/{{x.data.title | slugify}}/index.html >{{ x.data.title }}</a>        
            {% else %}
                <a href =  {{ site.url}}/{{type}}/{{x.data.title | slugify}}/index.html >{{ x.data.title }}</a>        |
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor -%} 

