body { 
  font-family: "Times New Roman", sans-serif;
  font-size: 11pt;
	margin-top: 2em;
	margin-left: 1.5em;
	margin-bottom: 2em;
 }

 .container { 
	max-width: 450px;
 }

 .content {
	max-width: 450px;
 }

 a { 
 	color: #438D80;
 	text-decoration: none !important;
 }

 e {
  color: #438D80;
 }

 a:hover {
	  position: relative;
  	left: 2px;
 }

a:hover, 
a:visited, 
a:link {
  color: #438D80 !important;
  text-decoration: none !important; 
}

li { 
  list-style-type: none;
}

.info {
  padding-top:20px; 
}

 h1 {
  font-size: 24pt; 
 	font-weight: normal;
 }

 dd {

 }

 /* h2 {
  font-size: 20pt; 
} */


/* 
@media screen and (min-width: 1320px) {
  .responsive {
  width: 100%;
  max-width: 700px;
  max-height: auto; 
  position: absolute;
  top: 10%;
  right: 10%;
    }
}

@media screen and (max-width: 1320px) {
  .responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
	}
} */
/* 
 h1 {
 	font-size:24pt;
 	font-weight: normal;
 }

 
 */

 

